In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
cont = []
for i in range(1, 51):
    with open(f"htmls/page{i}.html", "r", encoding="utf-8") as f:
        cont.append(f.read())
content = str(cont)
soup = BeautifulSoup(content, "html.parser")

In [10]:
items = []

articles = soup.select("article.product_pod")
for article in articles:
    titles = article.find("h3").find("a")["title"]
    price = article.select_one("p.price_color").text.split("Â")[1]
    rating_element = article.select_one("p.star-rating")
    ratings = rating_element["class"][1]
    items.append([titles, price, ratings])

In [11]:
df = pd.DataFrame(items, columns=(["Book Name", "Price", "Ratings"]))
df

                                             Book Name   Price Ratings
0                                 A Light in the Attic  £51.77   Three
1                                   Tipping the Velvet  £53.74     One
2                                           Soumission  £50.10     One
3                                        Sharp Objects  £47.82    Four
4                Sapiens: A Brief History of Humankind  £54.23    Five
..                                                 ...     ...     ...
995  Alice in Wonderland (Alice's Adventures in Won...  £55.53     One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  £57.06    Four
997  A Spy's Devotion (The Regency Spies of London #1)  £16.97    Five
998                1st to Die (Women's Murder Club #1)  £53.98     One
999                 1,000 Places to See Before You Die  £26.08    Five

[1000 rows x 3 columns]

In [12]:
df.to_csv("Extracted_data.csv", index=False, encoding="utf-8-sig")